
body {
    font-family: 'Arial', sans-serif;
    color: white;
    text-align: center;
    background-color: #000;
    background-image: url('/static/star_background.png');
    background-size: cover;
    background-position: center;
    margin: 0;
    height: 100%;
}


input[type="text"] {
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

h1, h2 {
    color: #68b1ff;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 5px 0;
    font-size: 18px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Полупрозрачный чёрный фон */
    color: white;
    text-align: center;
    padding: 10px 0;
}
main {
    min-height: 90%; 
    padding-bottom: 30px; 
}
