

{% extends "base.html" %}

{% block title %}Информация о стране{% endblock %}

{% block header %}Информация о стране {{ country_name }}{% endblock %}

{% block content %}
    <p>Всего городов: {{ city_count }}</p>
    <img src="/static/globe_large.png" alt="Large Earth Globe" style="width: 150px; height: auto;">
    <h2>Топ 10 самых больших городов страны:</h2>
    <ul>
        {% for city, population in cities %}
            <li>{{ city }} ~ {{ population }} человек</li>
        {% endfor %}
    </ul>

    {% if random_phrase %}
    <footer>
        <p>{{ random_phrase }}</p>
    </footer>
    {% endif %}
{% endblock %}


